-Drevision=2.2.14
-Dchangelist=-SNAPSHOT
-Dsha1=${git.commit.id.abbrev}
--threads 1C
-Dmaven.artifact.threads=5
-Dmaven.wagon.httpconnectionManager.ttlSeconds=300
-Dmaven.wagon.http.retryHandler.count=3
-Dgib.disableBranchComparison
-Dgib.uncommitted=true
-Dgib.untracked=true
-Dgib.buildDownstream=always
-Dgib.buildAllIfNoChanges=true
